#root {
  min-height: 100vh;
}

.App-wrapper {
  display: flex;
  flex-direction: column;
  height: auto;

}

.App-title {
  display: flex;
  flex-direction: column;
  padding: 2%;
  justify-content: center;
}

.App-title h1 {
  margin: auto;
}

.App-image img {
  width: 100%
}

.App-header {

  margin: 2% 0;
  padding: 3% 0;
  border-radius: 5px;
}

.App-header-wrapper {
  margin: 0px;
  padding: 2%;
}

.header-content-wrapper {
  display: flex;
  flex-direction: column;
  padding: 5%;
}

.converter-section {


  margin: 0px;
  padding: 0px;
}

.form-container {
  border: 1px solid #F4D35E;
  border-radius: 15px;
  background: hsla(213, 77%, 14%, 1);
  background: linear-gradient(90deg, hsla(213, 77%, 14%, 1) 0%, hsla(202, 27%, 45%, 1) 100%);
  background: -moz-linear-gradient(90deg, hsla(213, 77%, 14%, 1) 0%, hsla(202, 27%, 45%, 1) 100%);
  background: -webkit-linear-gradient(90deg, hsla(213, 77%, 14%, 1) 0%, hsla(202, 27%, 45%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#08203E", endColorstr="#557C93", GradientType=1);
  display: flex;
  justify-content: center;
}


.converter-section {
  height: 100%;
}

.select__control,
.css-13cymwt-control .select__control--is-focused,
.css-t3ipsp-control .css-13cymwt-control,
.amount-input {
  height: 100% !important;
  width: 100% !important;

  /* background-color: #EBEBD3 !important; */
}

.select,
.select-amount {
  margin: 2% 0;
  padding: 2%;
}

.select-amount label {
  color: #F4D35E !important;

}


label {
  display: flex;
  flex-direction: column;
}

form {
  padding: 5% 0;
}

.App-header,
.content-wrapper,
.amount,
.converted-section,
.converter-section,
.conversion-wrapper,
.needs-validation,
.form-wrapper,
#root,
.submit-btn,
.button-wrapper,
.App-footer,
.App-footer p,
.result-section {
  display: flex;
}



.content-wrapper,
.amount,
.converted-section,
.converter-section,
.conversion-wrapper,
.needs-validation,
.form-wrapper {
  flex-direction: column;
}

/* .App-header h1, */

.form-wrapper {
  padding: 5%
}

#root,
.submit-btn,
.button-wrapper,
.App-footer,
.App-footer p {
  justify-content: center;
}

.App,
#root,

.converter-section,
.conversion-wrapper {
  width: 100%;
}

.converter-section {
  padding: 0px;
  justify-content: center;
}

.button-wrapper {
  margin: 3% auto;
}





/* .App, */
.App-header h1,
.submit-btn,
.App-footer p {
  width: 90%;
}

.App-footer p,
.basic-single,
.amount-single {
  margin: 3% auto;
}

.App {}

.content-wrapper {
  align-items: center;
}


.conversion-wrapper {
  justify-content: flex-start;
}

.App {
  height: auto;
}

.App-header {
  align-items: center;
  /* background-color: #0b3866;
  padding: 3%; */
}

.App-header h1 {
  padding: 5%;
  font-size: 1.3em;
  justify-content: center;
  color: #0b3866;
}

.submit-wrapper {
  width: 100%;
}

.amount-input {
  min-height: 38px;
  border-radius: 4px;
  border: 1px solid hsl(0, 0%, 80%);
  padding: 10px;
}

.submit-btn {
  align-items: center;
  border: none;
  border-radius: 20px;
  min-height: 40px;
}

.content-wrapper {
  height: auto;
  justify-content: flex-start;
}

.conversion-wrapper {
  border-radius: 10px;
  margin: 5% auto;
  min-height: 70%;
  align-items: center;
}

.App-footer {
  margin: auto;
}

.App-footer p {
  padding: 2%;
}

.basic-single,
.amount-single {
  position: relative;
  box-sizing: border-box;
  display: flex;
  width: 100%;
}

.flag-icon {

  width: 20px;
  /* width of container */
  height: 20px;
  /* height of container */
  object-fit: cover;
  /* border: 1px solid hsl(0, 0%, 80%); */

}

.currency-item {
  display: flex;

}

.flag-wrapper {
  display: flex;
  align-items: center;
  width: 20%;
  justify-content: center;
  padding: 5%;
}

.currency-name {
  padding: 5%;
}

.amount-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}

/* Colors */

.css-1u9des2-indicatorSeparator {
  background-color: #0b3866 !important;
}

.submit-btn .amount-input,
.App-footer p,
.css-1jqq78o-placeholder,
.css-1xc3v61-indicatorContainer {
  color: #0b3866 !important;

}



.App-header {
  color: white;
}

/* fonts */
label,
.submit-button,
.App-header,
.amount-input,
.App-footer p,
.css-1jqq78o-placeholder,
.css-1xc3v61-indicatorContainer,
.result h1 {
  font-family: 'Readex Pro', sans-serif;

}

label,
.submit-button,
.App-header,
.amount-input,
.App-footer p,
.css-1jqq78o-placeholder,
.css-1xc3v61-indicatorContainer {
  font-size: 16px;
}

.result h1 {
  font-size: 20px;
  color: white;
}

.result-wrapper {
  display: flex;
  padding: 2% 5%;
  justify-content: center;
}

.needs-validation {
  align-items: center;
}

.dropdowns {
  width: 100%;
}

.amount-submit-wrapper {
  width: 100%
}

.App-header h1,
.submit-btn,
label {
  text-transform: uppercase;
}

.App-header h1,
label {
  font-family: 'Saira', sans-serif;

}

.result-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 5% 0;

}

.result {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border-radius: 4px;
  width: 90%;
  padding: 5%;
  align-items: center;
  background-color: #0b3866;
}

.css-1dimb5e-singleValue,
.css-10wo9uf-option,
.css-qbdosj-Input {
  color: #0b3866 !important;
}

.select__option--is-selected,
.css-tr4s17-option {
  background-color: #0b3866 !important;
}

.css-t3ipsp-control {
  border-color: #0b3866 !important;
  box-shadow: 0 0 0 1px #0b3866 !important;
}

/* select__option select__option--is-focused css-d7l1ni-option */
.css-d7l1ni-option {
  background-color: hsla(148, 89%, 78%, 1) !important;
  color: #0b3866 !important;
}

.converter-section {
  align-items: center;
}

input[type=text]:focus {
  outline: none !important;
  border: 2px solid #0b3866;
  box-shadow: 0 0 10px hsla(148, 89%, 78%, 1);
}

.result-section {

  margin: 2%;
  width: 100%;
}

/* textarea:focus {
  outline: none !important;
  border-color: red;
  box-shadow: 0 0 10px green;
} */

.loading-container {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 5%;
  margin: 5% 0;
}

.text-info {
  color: #0b3866 !important;
}

.App-header h1 {
  display: flex;
  padding: 0;
  margin: 0;
}

#select1 {
  background-color: #F4D35E;

}

#select1 label {
  color: #0b3866;
  ;

}

#select2 {
  background-color: #0b3866;

}

#select2 label {
  color: #F4D35E;

}

.select-amount {
  /* background-color: #3A5743; */
  border: 2px solid #F4D35E;
}

#select1,
#select2,
.select-amount {
  border-radius: 4px;
}

/* small */
@media (min-width: 576px) {
  .form-container {
    /* margin: 2%;*/
    padding: 5% 0;
    width: 90%;
  }

  .App-title {
    justify-content: flex-start;
  }

  .App-header h1 {
    font-size: 3em;
  }

  .amount-submit-wrapper,
  .dropdowns {
    justify-content: center;
  }



  .result {
    margin: 2%;
    padding: 2%;
    width: auto;
    flex-direction: row;
    justify-content: center
  }

  .result h1 {
    margin-left: 2%;
  }

  .App-image {
    padding: 2%;
    display: flex;
  }

  .App-image img {
    border-right: 1px solid blue;
  }

  .form-wrapper {
    padding: 2%;
  }


}

/* medium */
@media (min-width: 768px) {


  .App-header {
    align-items: flex-start;
    height: auto;
    background-position: 0% 80%;
  }

  .header-content-wrapper {
    
    flex-direction:row;
    padding: 5%;
  }

}


/* large */
@media (min-width: 992px) {
  .conversion-wrapper {
    margin: 3% auto;
  }


  .App-header {
    align-items: center;
    height: auto;
    width: 45%;
  }

  .App-header h1 {
    width: 100%;
    height: 100%;
    align-items: center;
    font-size: 3em;
  }
}

/* extra large */
@media (min-width: 1200px) {}

/* xxl */
@media (min-width: 1400px) {}