.App {
  text-align: center;
}

div {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center
}

.form-wrapper {
  width: 90%;
  padding: 5%;
  margin: auto;
  box-sizing: border-box;
}

section {
  display: flex;
  height: auto;
  width: 90%;
  flex-direction: column;
  border: 2px solid black;
}


.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-header p {
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
}

.button-wrapper {
  padding: 3% 0;
  margin: 2% 0;
}

.dropdowns,
.button-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

button {
  width: 50%;
  justify-content: center;
  display: flex;

}

label {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  margin: 3%;
  padding: 2%;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
}

select,
input {
  display: flex;
  width: 100%;
  border: 1px solid black;
  padding: 2% 0;
  margin: 3% 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
}

form {
  display: flex;
  width: 90%;
  flex-direction: column;

}