#root {
  min-height: 100vh;
}

body {
  background: hsla(148, 89%, 78%, 1);
  background: linear-gradient(90deg, hsla(148, 89%, 78%, 1) 0%, hsl(210, 81%, 22%, 1) 100%);
  background: -moz-linear-gradient(90deg, hsla(148, 89%, 78%, 1) 0%, hsla(210, 81%, 22%, 1) 100%);
  background: -webkit-linear-gradient(90deg, hsla(148, 89%, 78%, 1) 0%, hsla(210, 81%, 22%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#95F9C3", endColorstr="#0B3866", GradientType=1);
}

.App,
.App-header,
.content-wrapper,
.amount,
.converted-section,
.converter-section,
.conversion-wrapper,
.needs-validation,
.form-wrapper,
#root,
.submit-btn,
.button-wrapper,
.App-footer,
.App-footer p,
.result-section {
  display: flex;
}

.App,
.App-header,
.content-wrapper,
.amount,
.converted-section,
.converter-section,
.conversion-wrapper,
.needs-validation,
.form-wrapper {
  flex-direction: column;
}

/* .App-header h1, */
.App-header,
.form-wrapper {
  padding: 5%;
}

#root,
.submit-btn,
.button-wrapper,
.App-footer,
.App-footer p {
  justify-content: center;
}

#root,
.App-header,
.converter-section,
.conversion-wrapper,
.button-wrapper {
  width: 100%;
}

/* .App, */

.submit-btn,
.content-wrapper,
.App-footer,
.App-footer p {
  width: 90%;
}

.App-footer p,
.basic-single {
  margin: 5% auto;
}

.App,
.content-wrapper {
  align-items: center;
}

.content-wrapper,
.conversion-wrapper {
  justify-content: space-evenly;
}

.App {
  height: auto;
}

.App-header {
  align-items: flex-start;
  margin: 5% auto;
}

.App-header h1 {
  padding:5%
}

.amount-input {
  min-height: 38px;
  border-radius: 4px;
  border: 1px solid hsl(0, 0%, 80%);
  padding: 10px;
}

.submit-btn {
  align-items: center;
  border: none;
  border-radius: 20px;
  min-height: 40px;
}

.content-wrapper {
  height: 100%;
}

.conversion-wrapper {
  border-radius: 10px;
  margin: 10% auto;
  min-height: 70%;
}

.App-footer {
  margin: auto;
}

.App-footer p {
  padding: 2%;
}

.basic-single {
  position: relative;
  box-sizing: border-box;
}
img{
  width:20px;
  height:auto
}

/* Colors */
.submit-btn,
.css-1u9des2-indicatorSeparator {
  background-color: #0b3866 !important;
}

.amount-input,
.footer p,
.css-1jqq78o-placeholder,
.css-1xc3v61-indicatorContainer {
  color: #0b3866 !important;

}

label,
.submit-btn,
.App-header {
  color: white;
}

/* fonts */
label,
.submit-button,
.App-header,
.amount-input,
.App-footer p,
.css-1jqq78o-placeholder,
.css-1xc3v61-indicatorContainer,
.result h1 {
  font-family: 'Readex Pro', sans-serif;

}

label,
.submit-button,
.App-header,
.amount-input,
.App-footer p,
.css-1jqq78o-placeholder,
.css-1xc3v61-indicatorContainer {
  font-size: 16px;
}

.result h1 {
  font-size: 20px;
  color: white;
}


.App-header h1,
.submit-btn,
label {
  text-transform: uppercase;
}

.App-header h1,
label {
  font-family: 'Saira', sans-serif;

}

.result-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 5% 0;
  width: 100%;
}

.result {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  width: 90%;
  padding: 5%;
  align-items: center;
  background-color: #0b3866;
}

.css-1dimb5e-singleValue,
.css-10wo9uf-option,
.css-qbdosj-Input {
  color: #0b3866 !important;
}

.select__option--is-selected,
.css-tr4s17-option {
  background-color: #0b3866 !important;
}

.css-t3ipsp-control {
  border-color: #0b3866 !important;
  box-shadow: 0 0 0 1px #0b3866 !important;
}

/* select__option select__option--is-focused css-d7l1ni-option */
.css-d7l1ni-option {
  background-color: hsla(148, 89%, 78%, 1) !important;
  color: #0b3866 !important;
}


input[type=text]:focus {
  outline: none !important;
  border: 2px solid #0b3866;
  box-shadow: 0 0 10px hsla(148, 89%, 78%, 1);
}

/* textarea:focus {
  outline: none !important;
  border-color: red;
  box-shadow: 0 0 10px green;
} */

/* small */
@media (min-width: 576px) {}

/* medium */
@media (min-width: 768px) {}


/* large */
@media (min-width: 992px) {}

/* extra large */
@media (min-width: 1200px) {}

/* xxl */
@media (min-width: 1400px) {}